@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  /* * {
    font-family: "Roboto sans-serif";
  } */
  * {
    font-family: Roboto;
  }
  button {
    @apply font-medium text-[#FFFFFF] leading-[16px] tracking-[1.25px] uppercase sm:px-4 sm:py-3  px-2 rounded-sm py-2 bg-main drop-shadow-lg;
    font-size: 14px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  }
  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#2B3239];
  }
  h1 {
    @apply lg:text-5xl text-3xl font-bold;
    line-height: 72px;
    color: #363636;
  }
  h2 {
    @apply lg:text-2xl text-xl leading-[48px];
    line-height: 48px;
    color: #363636;
  }
  h3 {
    @apply font-bold text-3xl leading-[48px];
    line-height: 48px;

    color: #363636;
  }
  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #363636;
  }
  h5 {
    @apply sm:font-medium font-semibold sm:text-xl text-lg leading-[30px];

    /* identical to box height, or 80% */
    letter-spacing: 1.25px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #363636;
  }
  a {
    @apply text-[#3377FF];
  }
}

@layer utilities {
  .searchBar {
    @apply md:shadow;
    border: 0.5px solid #8f8f8f;
  }
  .shadow {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    border: 0.5px solid #8f8f8f;
  }
  .lg-h1 {
    font-size: 96px;
  }
  .md-h1 {
    font-size: 60px;
  }
  .h1 {
    font-size: 48px;
  }
  .sample {
    overflow: hidden;
    position: relative;
    @apply rounded-full;
  }
  .sample-img {
    position: absolute;
    top: 0px;
  }
  .Addshadow {
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  }
  .addProduct {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 36px;
    /* or 106% */
  }
  .overlineElement {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* or 160% */

    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .instruction {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* or 160% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .headerElement {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.15px;
  }
  .resend {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.15px;
    text-decoration-line: underline;
  }

  .productName {
    font-style: normal;
    font-weight: 600;
    font-size: 25.7907px;
    line-height: 19px;
    /* identical to box height, or 73% */

    letter-spacing: 0.195384px;
  }
  .option {
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    /* identical to box height, or 18px */

    text-align: center;
    letter-spacing: 0.390768px;
  }
  .error {
    @apply text-[#FF0000];
  }
}
